@media screen and (max-width: 560px) {

    .cards {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    
    .nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    li {
        margin: 20px 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ftr-soc {
        margin: 5px;
    }
}

